@import 'tailwindcss/base';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url(../fonts/Inter-Regular.ttf) format('trueType');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url(../fonts/Inter-Medium.ttf) format('trueType');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url(../fonts/Inter-SemiBold.ttf) format('trueType');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url(../fonts/Inter-Bold.ttf) format('trueType');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url(../fonts/Inter-ExtraBold.ttf) format('trueType');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url(../fonts/Inter-Black.ttf) format('trueType');
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Same as tailwind */
  --primary-50: #faf5ff; 
  --primary-100: #f3e8ff  ;
  --primary-200: #e9d5ff  ;
  --primary-300: #d8b4fe  ;
  --primary-400: #c084fc  ;
  --primary-500: #a855f7  ;
  --primary-600: #9333ea  ;
  --primary-700: #7e22ce  ;
  --primary-800: #6b21a8  ;
  --primary-900: #581c87  ;
  --primary-950: #3b0764  ;

  --secondary-50: #f9fafb;
  --secondary-100: #f3f4f6;
  --secondary-200: #e5e7eb;
  --secondary-300: #d1d5db;
  --secondary-400: #9ca3af;
  --secondary-500: #6b7280;
  --secondary-600: #4b5563;
  --secondary-700: #374151;
  --secondary-800: #1f2937;
  --secondary-900: #111827;
  --secondary-950: #030712;
  
}

body {
  font-family: Inter;
  overflow-x: hidden;
  background-color: #f9fafb;
}

/* Gradients */
.custom-bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(139, 92, 246, 0.2) 11.46%,
    rgba(66, 241, 241, 0.2) 36.98%,
    rgba(82, 56, 239, 0.2) 70.31%,
    rgba(139, 92, 246, 0.2) 94.27%
  );
  filter: blur(32px);
}

/* .radial-img-gradient{
  background: radial-gradient(53.8% 46.4% at 50% 50%, rgba(249, 250, 251, 0.00) 48.98%, #F9FAFB 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
} */

/* overflow hidden */
.overfolw-hidden {
  overflow-x: hidden;
}

/* Flip grid row to first row */
@media (min-width: 1280px) {
  .grid-pos-row-1 {
    grid-row: 1;
  }
}

/* homeBG mobile img */
/* .homeBG{
  background: url("/src/MassiveWebsite/assets/img/homeMobileBackgroundPNG.png") left/cover;
} */

.contact-home {
  border-radius: 6px;
  border: 1px solid var(--Gradient-test, #8b5cf6);
  background: var(
    --Purple-blauw,
    linear-gradient(180deg, #0bc4fc -40.38%, #626efe 48.94%, #af1ffb 131.13%)
  );
  display: flex;
  padding: 10px 24px 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button-gradient-purple {
  background: var(
    --Gradient,
    linear-gradient(180deg, #9869e9 21.45%, #5238ef 199.04%)
  );
}

.heading-gradient-gray {
  background: linear-gradient(107deg, #5b6d87 -8.14%, #1f2937 44.41%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

details[open] .chevron {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.chevron {
  transition: transform 0.3s ease-in-out;
}

details summary {
  cursor: pointer;
  transition: margin 250ms ease-out;
}

details[open] summary {
  margin-bottom: 10px;
}

.test {
  box-shadow:
    0px 0px 4px 3px rgba(124, 58, 237, 0.06),
    0px 0px 16px 0px rgba(124, 58, 237, 0.1);
}

.diensten-h2{
  color: var(--secondary-800);
  padding-top: 32px;

  /* text-3xl/leading-9/font-semibold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 120% */
}

.diensten-h3 {
  color: var(--secondary-700);
  padding-top: 32px;

  /* text-2xl/leading-8/font-semibold */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}



.diensten-list {
  list-style-type: disc;
  padding-left: 20px;
  padding-top: 16px;
}

.diensten-list_item {
  color: var(--secondary-600);

  /* text-lg/leading-7/font-medium */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.diesnten-sub-title {
  font-size: 0.875rem /* 14px */;
  line-height: 1.5rem /* 24px */;
  font-weight: 600;
  color: var(--primary-600);
}

.content-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  pointer-events: none;
}

.content-wrapper.expanded::after {
  display: none;
}

.gekkegradient{
  fill: linear-gradient(37deg, #ff0000 26.68%, rgba(255, 3, 3, 0) 33.12%);
}